// #bg-particles {
//     min-height: 100vh;
// }
.f-size {
    font-size: 55px !important;
    font-weight: 900 !important;
}

.img-sec {
    display: block;
    margin: auto;
}

.btn {
    background-color: #f35758;
    color: bisque;
}

.border {
    color: rgb(255, 0, 0) !important;
}

// mediaQsm(landscape phone)
@media (max-width: 767.98px) {}

// mediaQmd(tablet)
@media (max-width: 991.98px) {
    .f-size {
        font-size: 65px !important;
        font-weight: 900 !important;
    }
    .items {
        width: 100% !important;
        margin-top: 32px !important;
        padding: 16px !important;
    }
    .img-sec {
        width: 75% !important;
        margin-top: 32px !important;
        padding: 16px !important;
    }
    .sub-items {
        width: 100% !important;
        margin-top: 32px !important;
    }
}

// mediaQxsm(phone)
@media (max-width: 575.98px) {
    .f-size {
        font-size: 35px !important;
        font-weight: 900 !important;
    }
    .items {
        padding: 0 !important;
        width: 100% !important;
    }
    .items-p {
        text-align: center !important;
        margin-top: 16px !important;
    }
    .img-sec {
        width: 85% !important;
    }
    .sub-items {
        width: 100% !important;
    }
    .btn-sub {
        width: 100% !important;
        text-align: center !important;
    }
}
